*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'DM Sans', sans-serif;
}
*, ::after, ::before{
    box-sizing: border-box;
}
.section-padding{
    padding-top: 100px;
    padding-bottom: 100px;
}
.container{
    width: 100%;
    padding-left: 12px;
    padding-right: 12px;
    margin: 0 auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin-top: 0;
    margin-right: -12px;
    margin-left: -12px;
}
.d-flex{
    display: flex;
}
.d-flex-auto{
    flex: 0 0 auto;
}
.mx-auto{
    margin-left: auto;
    margin-right: auto;
}
.text-white{
    color: white;
}
/* ------------ Màn hình PC ----------------- */
@media(min-width: 1400px){
    .col-xxl-12{width: 100%;}
    .col-xxl-11{width: 91.6667%;}
    .col-xxl-10{width: 83.3333%;}
    .col-xxl-9{width: 75%;}
    .col-xxl-8{width: 66.6667%;}
    .col-xxl-7{width: 58.3333%;}
    .col-xxl-6{width: 50%;}
    .col-xxl-5{width: 41.6667%;}
    .col-xxl-4{width: 33.3333%;}
    .col-xxl-3{width: 25%;}
    .col-xxl-2{width: 16.6667%;}
    .col-xxl-1{width: 8.3333%;}

    .container{
        max-width: 1320px;
    }
}
/* ------------ Màn hình laptop ----------------- */
@media(min-width: 1200px){
    .col-xl-12{width: 100%;}
    .col-xl-11{width: 91.6667%;}
    .col-xl-10{width: 83.3333%;}
    .col-xl-9{width: 75%;}
    .col-xl-8{width: 66.6667%;}
    .col-xl-7{width: 58.3333%;}
    .col-xl-6{width: 50%;}
    .col-xl-5{width: 41.6667%;}
    .col-xl-4{width: 33.3333%;}
    .col-xl-3{width: 25%;}
    .col-xl-2{width: 16.6667%;}
    .col-xl-1{width: 8.3333%;}

    .container{
        max-width: 1140px;
    }
}
/* ------------ Màn hình laptop ----------------- */
@media(min-width: 992px){
    .col-lg-12{width: 100%;}
    .col-lg-11{width: 91.6667%;}
    .col-lg-10{width: 83.3333%;}
    .col-lg-9{width: 75%;}
    .col-lg-8{width: 66.6667%;}
    .col-lg-7{width: 58.3333%;}
    .col-lg-6{width: 50%;}
    .col-lg-5{width: 41.6667%;}
    .col-lg-4{width: 33.3333%;}
    .col-lg-3{width: 25%;}
    .col-lg-2{width: 16.6667%;}
    .col-lg-1{width: 8.3333%;}

    .container{
        max-width: 960px;
    }
}
/* ------------ Màn hình tablet ----------------- */
@media(min-width: 768px){
    .col-md-12{width: 100%;}
    .col-md-11{width: 91.6667%;}
    .col-md-10{width: 83.3333%;}
    .col-md-9{width: 75%;}
    .col-md-8{width: 66.6667%;}
    .col-md-7{width: 58.3333%;}
    .col-md-6{width: 50%;}
    .col-md-5{width: 41.6667%;}
    .col-md-4{width: 33.3333%;}
    .col-md-3{width: 25%;}
    .col-md-2{width: 16.6667%;}
    .col-md-1{width: 8.3333%;}

    .container{
        max-width: 720px;
    }
}
/* ------------ Màn hình điện thoại ----------------- */
@media(min-width: 576px){
    .col-sm-12{width: 100%;}
    .col-sm-11{width: 91.6667%;}
    .col-sm-10{width: 83.3333%;}
    .col-sm-9{width: 75%;}
    .col-sm-8{width: 66.6667%;}
    .col-sm-7{width: 58.3333%;}
    .col-sm-6{width: 50%;}
    .col-sm-5{width: 41.6667%;}
    .col-sm-4{width: 33.3333%;}
    .col-sm-3{width: 25%;}
    .col-sm-2{width: 16.6667%;}
    .col-sm-1{width: 8.3333%;}

    .container{
        max-width: 540px;
    }
}
/* Màn hình điện thoại */
@media(min-width: 0px){
    .col-12{width: 100%;}
    .col-11{width: 91.6667%;}
    .col-10{width: 83.3333%;}
    .col-9{width: 75%;}
    .col-8{width: 66.6667%;}
    .col-7{width: 58.3333%;}
    .col-6{width: 50%;}
    .col-5{width: 41.6667%;}
    .col-4{width: 33.3333%;}
    .col-3{width: 25%;}
    .col-2{width: 16.6667%;}
    .col-1{width: 8.3333%;}

    .container{
        max-width: 100%;
    }
}

