*{
    margin: 0;
    padding: 0;
    font-family: "DM Sans", sans-serif;
}
*,::after,::before{
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: white;
}
ul{
    list-style: none;
}
/* ------------------------------------ HEADER -------------------------- */
#header{
    background-color: #3d405b;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 94px;
    padding: 15px 0px;
}
.navbar{
    width: 100%;    
}
.container{
    display: flex;
    align-items: center;
}
.logo a{
    display: flex;
}
.logo a img{
    filter: brightness(0) invert(1);
    width: 48px;
    height: 48px;
    margin-left: 10px;
}
.navbar-menu{
    display: flex;
}
.menu{
    display: flex;
}
/* ------------------------------------ HEADER -------------------------- */